<div style="text-align: center;">
    
  <i>Welcome to the University Home Page</i></div>

<div [ngStyle]="{'background' : 'url(./assets/image/background.jpg)'}">
    
<img src="assets\image\smu.png">


<hr/>
  <h2><u> <b>Saint Mary’s: One of Canada’s oldest universities</b> </u></h2>
  <hr/>
Saint Mary's traces its earliest beginnings to 1802 when the Reverend Edmund Burke, later Bishop Burke, 
taught young men at the Glebe House, on the corner of Spring Garden Road and Barrington Street. The boys’ 
school grew first into a college and then into a university, never wavering in its commitment to education 
and community service.
<hr/><b>
Landmark dates in the 1800s</b>
<hr/>
<ul>
<li>1841: Received degree-granting status by the Nova Scotia House of Assembly.</li>
<li>1868: The Christian Brothers of Saint John the Baptiste de la Salle took over teaching duties and moved 
    Saint Mary's to the Belle Aire Terrace off Agricola.</li>
<li>1876: The Archdiocese took over from the Christian Brothers and moved the school to Barrington Street.</li>
</ul>   

<hr/>
<b>
Amalgamation
</b>
<hr/>

For a brief period between 1876 and 1881, the colleges of Acadia, Dalhousie, King's, Mount Allison, St. 
Francis Xavier and Saint Mary's were amalgamated into the University of Halifax.
Generous bequest from Patrick Powers’ estate
In 1913, a generous bequest from the will of prominent Halifax businessman Patrick Power was released to 
Saint Mary’s when the Irish Christian Brothers became the teaching order.
One of the first faculties of commerce in Canada
Under the leadership of the Irish Christian Brothers, the college shared its Windsor Street campus with a 
high school and built a solid reputation for Saint Mary’s undergraduate programs. They pioneered a number of 
new instructional programs including one of the first faculties of commerce in Canada.
The Saint Mary’s University Faculty of Commerce was renamed the Frank H. Sobey Faculty of Commerce in 1992, 
and then in 2003, the Sobey School of Business.
A change in administration
From 1937 to 1970, Saint Mary’s was under a Jesuit administration, a change brought on by John McNally when 
he became Archbishop. During this time, the college established itself in teacher education, initiating the 
first courses in continuing education in Halifax and Dartmouth, purchasing the first computer in Atlantic 
Canada, and becoming co-educational.
Saint Mary’s becomes a public institution
In 1951, Saint Mary's and the high school moved to the Robie Street campus where it occupied three rooms on 
the second floor of the new McNally building. In 1952, Saint Mary’s was granted university status by an act 
of the Nova Scotia Legislature. The high school closed in 1963, but Saint Mary’s continued exclusively as a 
Roman Catholic college. As higher education boomed in an era with radical changes in morals, dress, and music, 
the student population grew. In 1970, the university became a public institution.
<hr/>
<b>
Athletics
</b>
<hr/>
Over two centuries, Saint Mary's has endorsed the philosophy that physical health is a strong foundation for
 a productive mind and spirit. The university has proven time and again the legitimacy of this philosophy, 
 winning many regional and national individual and team titles across a number of sports. Modern-era 
 highlights include the arrival of Bob Hayes in 1958 and his development of a bare-bones athletic program
  into a model for other Canadian universities; Bob Boucher's tenure (1967-80) as coach of nationally 
  competitive men's hockey teams; the 2001 and 2002 Vanier Cup football championships; the career of CIS 
  All-Canadian basketball star Justine Colley; and innumerable Athletic All-Stars and Academic All-Canadians.
To learn more about the history of athletics at Saint Mary's, visit the Saint Mary's Sports Hall of Fame 
   section.

The Homburg Centre for Health and Wellness opened in early 2011 as a state-of-the-art multi-purpose extension
 to the existing Tower recreation facility. Dr. Richard Homburg, who holds a Saint Mary’s honorary doctorate 
 in Commerce, is a firm believer that health and wellness is the key to success. He donated $5M to the 
  Homburg Centre for Health and Wellness project and established the Homburg International Mobility Awards.
   